<h1>All Posts</h1>

<p>Page {{currentPage}} of {{totalPages}}</p>

{{#if posts.length}}
  {{#each posts}}
    <div class="post">
      <h3>{{this.title}}</h3>
      <p>{{this.content}}</p>
      <small>By {{this.author}}</small>

      {{#if this.image}}
        <div style="margin-top: 10px;">
          <img src="{{this.image}}" alt="Post image" style="max-width: 200px; border-radius: 8px;">
        </div>
      {{/if}}

      <div style="margin-top: 10px;">
        <a href="/posts/edit/{{this.id}}">Edit</a>

        <form action="/posts/delete/{{this.id}}" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
{{else}}
  <p>No posts available.</p>
{{/if}}

{{#if totalPages}}
  <div style="margin-top: 16px;">
    {{#if hasPrev}}
      <a href="/posts/view?page={{prevPage}}">Previous</a>
    {{/if}}

    {{#each pageNumbers}}
      <a href="/posts/view?page={{this}}" style="margin-right: 8px;">{{this}}</a>
    {{/each}}

    {{#if hasNext}}
      <a href="/posts/view?page={{nextPage}}">Next</a>
    {{/if}}
  </div>
{{/if}}